spring.application.name=ticketsystem
spring.datasource.url=jdbc:postgresql://localhost:5432/ticketsystem
spring.datasource.username=postgres
spring.datasource.password=DEIN_PASSWORT_HIER
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true